/* 1. vitor -> Header + footer */


/* 2. yasmin -> Hero section + Sobre o software */


/* 3. beatriz -> Benefícios */


/* 4. joao -> Vídeo + Passo a passo (fotos) */


/* 5. vinicius -> Feedback dos usuários + perguntas frequentes + chamada ação */

/*Feedback dos usuários */

.feedbacks {
   font-family: 'Roboto', sans-serif;
   max-width: 1100px;
   margin-left: 200px;
   margin-right: 100px;
   margin-bottom: 80px;

}

.titulo {
   margin-top: 80px;
   margin-bottom: 55px;
   font-size: 2rem;
   margin-bottom: 30px;
   font-weight: bold;

}

.cartoes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 70px;
   text-align: center;
   font-size: 1.1rem;
}

.cartao {
   border: 2px solid #5F0077;
   border-radius: 10px;
   padding: 20px;
   text-align: left;
   background-color: #fff;
}

.nome {
   font-weight: bold;
}

.c1 {
   margin-top: 35.7px;
}

.c2 {
   margin-top: 36px;
}

.c3 {
   margin-top: 36px;
}

.c4 {
   margin-top: 36px;
}

/*perguntas frequentes*/

.perguntas {
   font-family: 'Roboto', sans-serif;
}